# Project Identity
PROJECT_NAME=systic_skeleton

# Toolchain Defaults
DEFAULT_PHASE=Dev
CONAN_PROFILE=clang21

# Conan Server Topology Configuration
CONAN_REMOTE_NAME=local_conan_server
CONAN_REMOTE_URL=http://localhost:9300/
CONAN_LOGIN_USER=demo
CONAN_LOGIN_PASSWORD=demo

# Package Architecture Context
CONAN_PACKAGE_USER=systic
CONAN_PACKAGE_CHANNEL=stable